<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="starrail.map.domain"/>
		<package name="starrail.main.domain"/>
		<package name="starrail.partner.domain"/>
		<package name="starrail.sharetext.domain"/>
		<package name="starrail.course.domain"/>
	</typeAliases>
	
	
</configuration>









